/**  
    ____  _       ____   ____            _      
  / ____|| |     / __ \ |  _ \    /\    | |     
 | |  __ | |    | |  | || |_) |  /  \   | |     
 | | |_ || |    | |  | ||  _ <  / /\ \  | |     
 | |__| || |____| |__| || |_) |/ ____ \ | |____ 
  \_____||______|\____/ |____//_/    \_\|______|  **/


/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    1. Dans la construction de vos sections:
    Toutes les sections doivents avoir un ID en fonction de la page.
    (exemple:  section-accueil => id="section_accueil_1 si plus il y'a plusieurs sections +1")

    2. Pour la mise en place du flex-blox, il faut se servir d'une div avec l'id container 
    (exemple : test de 10h36
        <section>
            <div class="contain">
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </div>
        </section>
    )
    Cela nous permettra de mieux gerer le responsive, et donner une max-width sur la div au lieu de la section.

    3. Toutes les images devront être dans une figure et ne pas oublier un alt="", ca fait toujours plaisir :) 

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/


/* XXXXXXXXXXXXXXXXXXXXXXXX La police Mathlete s'utilise pour les titres, boutons et certains liens  ( voir maquette)   */
@font-face {  /* la mathletebulky est la police version bold */
    font-family: 'mathletebulky';
    src: url('../fonts/Mathlete-Bulky-webfont.eot');
    src: url('../fonts/Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Bulky-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family: 'mathleteskinny';
    src: url('../fonts/Mathlete-Skinny-webfont.eot');
    src: url('../fonts/Mathlete-Skinny-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mathlete-Skinny-webfont.woff') format('woff'),
         url('../fonts/Mathlete-Skinny-webfont.ttf') format('truetype'),
         url('../fonts/Mathlete-Skinny-webfont.svg#mathleteskinny') format('svg');
    font-weight: normal;
    font-style: normal;     
}

/* XXXXXXXXXXXXXXXXXXXXXXXX La police open_sanslight s'utilise pour tous les contenus de texte en général ( voir maquette)   */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;     
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
main .maxWidht {
    max-width: 130rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}
button:focus, a:focus, input:focus, textarea:focus, select:focus {
    outline: none;
}
.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contain-col {
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
}
form input{
    font-family: mathleteskinny;
}
form button{
    font-family: mathletebulky;
}
#btn-login, #btn-inscription, #btn-menu, #btn-connexion, #btn-close,
#btn-close2, #btn-close3, button {
    cursor: pointer;
}
p{
    font-family: GeosansLight;
}
#logo {
    display: none;
    position: relative;
}
#div-magique{
    position: relative;
    display: none;
    z-index: 1;
}
#div-magique::after {
    content: url(../img/header/fleche_nav.svg);
    left: 0;
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 0.15rem;
}

 /**
      _    _  ______            _____   ______  _____  
     | |  | ||  ____|    /\    |  __ \ |  ____||  __ \ 
     | |__| || |__      /  \   | |  | || |__   | |__) |
     |  __  ||  __|    / /\ \  | |  | ||  __|  |  _  / 
     | |  | || |____  / ____ \ | |__| || |____ | | \ \ 
     |_|  |_||______|/_/    \_\|_____/ |______||_|  \_\ **/

header {
    padding: 2rem 5%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: white;
}
header nav figure {
    width: 12%;
 } 
#fleche_nav {
    width: 100%;
}    
#menu, #login, #inscription {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url(../img/header/fond_form.png) no-repeat black;
    top: 0;
    left: 0;
    padding: 2rem 0 0 5%;
    background-position-y: 3%;
    background-position-x: 100%;
    background-size: contain;
    z-index: 2;
}
#menu ul:nth-child(2) li a {
    color: white;
    font-family: mathletebulky;
    font-size: 5rem;
    padding-left: 0;
    transition: all .5s ease;
}
#menu ul:nth-child(2) li a:hover{
    padding-left: 3%;
    background: white;
    color: black;
}
#menu ul {
    border-left: solid white 1px;
    padding: 0 0 0 2rem;
    margin: 8rem 0 0 1%;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: ulslide;
}
@keyframes ulslide {
    0% {
        left: -100em;
        position: absolute;
    }
    100% {
        position: inherit;
        left: 5.9rem;
     }
}        
#menu > span{
    color: white;
    font-family: mathleteskinny;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 3%;
}
#btn-close{
    position: relative;
}
#btn-close::before{
    content: url(../img/header/xcross-white.svg);
    top: -1px;
    left: 1px;
    position: absolute;
    z-index: 3;
    width: 15%;
}
#inscription {
    display: none;
}
#login, #inscription{
    padding: 8rem 36% 8rem 5%;
}
#login div, #inscription div{
    background: white;
    padding-bottom: 3rem;
    position: relative;
}
#login > div::after, #inscription > div::after{
    content: url(../img/ombre_right.png);
    top: -10px;
    right:  0;
    position: absolute;
    z-index: 3;
}
#login > div::before, #inscription > div::before{
    content: url(../img/ombre_left.png);
    top: -10px;
    left: 0;
    position: absolute;
    z-index: 3;
 } 
#login form input, form button, form a:nth-child(7),
#inscription form input, #inscription form button, #inscription form select, #btn-inscription {
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;
    display: inline-block;
    font-size: 3rem;
    border: 0;
}
#login form input, #inscription form input, #inscription form select {
    border-bottom: 1px darkgrey solid;
}
#inscription form select, #inscription form select option {
    background: white;
    font-family: mathletebulky;
    color: lightgrey;
}
#inscription .g-recaptcha {
    padding: 2rem 0;
}
#login form button, #inscription form button{
    border: 1px #1DCCDB solid;
    border-radius: 10px;
    padding: .5rem 0;
    background: #1DCCDB;
    color: white;
    transition: all .5s ease-out;
}
#login form button:hover, #inscription form button:hover{
    background: white;
    color: #1DCCDB;
}
#login form span:nth-child(7){
    border: 1px #1DCCDB solid;
    border-radius: 10px;
    background: #white;
    color: #1DCCDB;
    font-family: mathletebulky;
    text-align: center;
}
#login h1, #inscription h1{
    font-family: mathleteskinny;
    font-weight: normal;
    text-align: center;
    font-size: 6rem;
    margin: 4rem 0 0 0;
    clear: both;
    position: relative;
}
#login h1::before, #inscription h1::before{
    content: url(../img/header/picto_1.svg);
    top: 7px;
    left: 32%;
    position: absolute;
    z-index: 3;
    width: 7%;
}
#btn-close2, #btn-close3{
    float: right;
    margin: 2rem;
    position: relative;
    color: white
}
#btn-close2::before, #btn-close3::before{
    content: url(../img/header/xcross-black.svg);
    top: -8px;
    left: -169.5%;
    position: absolute;
    z-index: 3;
    width: 350%;
}
#login form , #inscription form{
    width: 60%;
    margin: 0 auto;
}
#login p {
    font-family: mathleteskinny;
    color: darkgrey;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 0 0;
}
#login form a:nth-child(3){
    font-family: mathleteskinny;
    font-size: 1.6rem;
    text-decoration: underline;
    color: #1DCCDB;
    float: right;
}
#inscription {
    overflow: auto;
}

h1, h2, header a, header span{
    font-family: mathletebulky;
}
header a img {
    max-width: 90%;
}
#btn-menu{
    padding-left: 4%;
}
#btn-connexion, #btn-menu {
    position: relative;
}
#btn-menu::before{
    content: url(../img/header/toogle.svg);
    right: 49.5%;
    position: absolute;
    z-index: 1;
    width: 42%;
}
#btn-connexion::before{
    content: url(../img/header/picto_connexion.svg);
    top: 0;
    left: -40.5%;
    position: absolute;
    z-index: 1;
    width: 30%;
}
header a, header span{
    font-size: 3rem;
    color: black;
}


figure{
    margin: 0;
    display: inline-block;
}


 /**
      __  __            _____  _   _ 
     |  \/  |    /\    |_   _|| \ | |
     | \  / |   /  \     | |  |  \| |
     | |\/| |  / /\ \    | |  | . ` |
     | |  | | / ____ \  _| |_ | |\  |
     |_|  |_|/_/    \_\|_____||_| \_| **/

/* XXXXXXXXXXXXXXXXXXX SECTIION ACCUEIL 1 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#logo-accueil{
    width: 60%;
    margin: 0 auto 0 auto!important;
    display: block;
    position: relative;
    padding: 20rem 0 0 0;
}
#accueil > h1 {
    font-size: 10rem;
    font-family: mathleteskinny;
    font-weight: 100;
    display: block;
    text-align: center;
    margin: 3rem 0 0 0;
}
#accueil{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#logo-accueil::after{
    content: url(../img/header/texte_cote.svg);
    bottom: -120px;
    right: -191px;
    position: absolute;
    z-index: 1;
    width: 3%;
}
/* XXXXXXXXXXXXXXXXXXX SECTIION ACCUEIL 2 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#section_accueil_2 > div {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#section_accueil_2 > div::after{
    content: url(../img/header/arrow.svg);
    bottom: 0;
    right: 5%;
    position: absolute;
    z-index: 2;
    width: 2%;
}
#section_accueil_2 figure {
    top: 20rem;
    position: absolute;
    left: 23%;
    width: 50%;
    z-index: 5;
}
#section_accueil_2 figure::before{
    content: url(../img/accueil/picto_1.svg);
    top: -1rem;
    left: 14%;
    position: absolute;
    z-index: 3;
    width: 10%;
}
#section_accueil_2 figure::after{
    content: url(../img/accueil/picto_6.svg);
    bottom: -1rem;
    right: -26%;
    position: absolute;
    z-index: 3;
    width: 10%;
}
#section_accueil_2 > div div {
    background: #ff4a4a;
        background: -moz-linear-gradient(left, #ff4a4a 0%, #f49c5d 100%);
        background: -webkit-linear-gradient(left, #ff4a4a 0%,#f49c5d 100%);
        background: linear-gradient(to right, #ff4a4a 0%,#f49c5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a4a', endColorstr='#f49c5d',GradientType=1 );
    position: absolute;
    z-index: 2;
    padding: 14rem 24.15%;
    top: 26rem;
}
#section_accueil_2 > div div::before {
    content: url(../img/accueil/picto_12.svg);
    top: -9rem;
    left: 19%;
    position: absolute;
    z-index: 3;
    width: 10%;
}
#section_accueil_2 > div div::after {
    content: url(../img/accueil/picto_0.svg);
    bottom: -8rem;
    left: 19%;
    position: absolute;
    z-index: 3;
    width: 10%;
}
#section_accueil_2 article {
    position: absolute;
    top: 60rem;
    z-index: 3;
    left: 20%;
    border-left: solid 20px black;
    padding-left: 2%;
    width: 60%;
}
#section_accueil_2 article::before{
    content: url(../img/quote_2.svg);
    bottom: 0;
    right: -9%;
    position: absolute;
    z-index: 3;
    width: 5%;
}
#section_accueil_2 article::after{
    content: url(../img/quote_1.svg);
    top: 0;
    left: -9%;
    position: absolute;
    z-index: 3;
    width: 5%;
}
#section_accueil_2 h2 {
    font-size: 5rem;
    color: white;
    font-weight: normal;
    margin: 0;
}
#section_accueil_2 p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0;
}
#section_accueil_2 span {
    position: absolute;
}
#section_accueil_2 span:nth-child(2) {
    top: 27rem;
    left: 6%;
    font-family: mathleteskinny;
    font-size: 4rem;
    color: white;
    z-index: 3;
    position: absolute;
}
/* XXXXXXXXXXXXXXXXXXX SECTIION ACCUEIL 3 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#section_accueil_3 > div {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#section_accueil_3 > div::after{
    content: url(../img/header/arrow.svg);
    bottom: 0;
    right: 5%;
    position: absolute;
    z-index: 2;
    width: 2%;
}
#section_accueil_3 figure {
    top: 16rem;
    position: absolute;
    left: 3%;
    width: 30%;
    z-index: 5;
}
#section_accueil_3 figure::before{
    content: url(../img/accueil/picto_5.svg);
    top: -3rem;
    left: 41%;
    position: absolute;
    z-index: 3;
    width: 25%;
}
#section_accueil_3 figure::after{
    content: url(../img/accueil/picto_6.svg);
    bottom: 1rem;
    left: 34%;
    position: absolute;
    z-index: 3;
    width: 18%;
}
#section_accueil_3 > div div {
background: #c2fcc8;
background: -moz-linear-gradient(left, #c2fcc8 0%, #4adbc5 100%);
background: -webkit-linear-gradient(left, #c2fcc8 0%,#4adbc5 100%);
background: linear-gradient(to right, #c2fcc8 0%,#4adbc5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2fcc8', endColorstr='#4adbc5',GradientType=1 );
    position: absolute;
    z-index: 2;
    padding: 13rem 39.15%;
    top: 17.5rem;
    right: 0;
}
#section_accueil_3 > div div::before {
    content: url(../img/accueil/picto_13.svg);
    top: -5rem;
    right: 28%;
    position: absolute;
    z-index: 3;
    width: 7%;
}
#section_accueil_3 > div div::after {
    content: url(../img/accueil/picto_8.svg);
    bottom: -16rem;
    right: 44%;
    position: absolute;
    z-index: 3;
    width: 5%;
}
#section_accueil_3 article {
    position: absolute;
    top: 21rem;
    z-index: 3;
    left: 38%;
    border-left: solid 20px black;
    padding-left: 2%;
    width: 45%;
}
#section_accueil_3 article::before{
    content: url(../img/quote_2.svg);
    bottom: 0;
    right: -11%;
    position: absolute;
    z-index: 3;
    width: 6%;
}
#section_accueil_3 article::after{
    content: url(../img/quote_1.svg);
    top: 0;
    left: -11%;
    position: absolute;
    z-index: 3;
    width: 6%;
}
#section_accueil_3 h2 {
    font-size: 5rem;
    color: white;
    font-weight: normal;
    margin: 0;
}
#section_accueil_3 p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0;
}
#section_accueil_3 span {
    position: absolute;
}
#section_accueil_3 span:nth-child(2) {
    top: 20rem;
    left: 81%;
    font-family: mathleteskinny;
    font-size: 4rem;
    color: white;
    z-index: 3;
    position: absolute
}
/* XXXXXXXXXXXXXXXXXXX SECTIION ACCUEIL 4 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#section_accueil_4 > div {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#section_accueil_4 figure {
    top: 19rem;
    position: absolute;
    right: 7%;
    width: 34%;
    z-index: 5;
}
#section_accueil_4 figure::before{
    content: url(../img/accueil/picto_10.svg);
    top: 2rem;
    right: 13%;
    position: absolute;
    z-index: 3;
    width: 15%;
}
#section_accueil_4 figure::after{
    content: url(../img/accueil/picto_11.svg);
    bottom: -24rem;
    right: 58%;
    position: absolute;
    z-index: 3;
    width: 10%;
}
#section_accueil_4 > div div {
    background: #f99d09;
        background: -moz-linear-gradient(left, #f99d09 0%, #f99d09 0%, #fad980 97%);
        background: -webkit-linear-gradient(left, #f99d09 0%,#f99d09 0%,#fad980 97%);
        background: linear-gradient(to right, #f99d09 0%,#f99d09 0%,#fad980 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99d09', endColorstr='#fad980',GradientType=1 );
    position: absolute;
    z-index: 2;
    padding: 13rem 38.15%;
    top: 21.5rem;
    left: 0;
}
#section_accueil_4 > div div::before {
    content: url(../img/accueil/picto_9.svg);
    top: -8rem;
    left: 18%;
    position: absolute;
    z-index: 3;
    width: 9%;
}
#section_accueil_4 article {
    position: absolute;
    top: 22rem;
    z-index: 3;
    left: 11%;
    border-left: solid 20px black;
    padding-left: 2%;
    width: 47%;
}
#section_accueil_4 article::before{
    content: url(../img/quote_2.svg);
    bottom: 0;
    right: -11%;
    position: absolute;
    z-index: 3;
    width: 6%;
}
#section_accueil_4 article::after{
    content: url(../img/quote_1.svg);
    top: 0;
    left: -11%;
    position: absolute;
    z-index: 3;
    width: 6%;
}
#section_accueil_4 h2 {
    font-size: 5rem;
    color: white;
    font-weight: normal;
    margin: 0;
}
#section_accueil_4 p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0;
}
#section_accueil_4 span {
    position: absolute;
}
#section_accueil_4 span:nth-child(2) {
    top: 20rem;
    left: 81%;
    font-family: mathleteskinny;
    font-size: 4rem;
    color: white;
    z-index: 3;
    position: absolute
}


/**
      ______  ____    ____  _______  ______  _____  
     |  ____|/ __ \  / __ \|__   __||  ____||  __ \ 
     | |__  | |  | || |  | |  | |   | |__   | |__) |
     |  __| | |  | || |  | |  | |   |  __|  |  _  / 
     | |    | |__| || |__| |  | |   | |____ | | \ \ 
     |_|     \____/  \____/   |_|   |______||_|  \_\ **/

footer{
    background: #F0F0F0;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 2rem 0;
}
footer p {
    color: #727272;
    font-family: mathleteskinny;
    font-size: 2rem;
    margin: 0;
    position: relative;
}
footer p::before{
    content: url(../img/ombre.png);
    top: -2rem;
    left: 3%;
    position: absolute;
    z-index: 3;
    opacity: 0.5;
}





@media screen and (max-device-width: 1300px){
    main .maxWidht {
    max-width: 100rem;
    margin: 0 auto;
    }
    #banniere{
        width: 89%;
    }
    #banniere::after{
        left: -5%;
    }
}


     
